/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#root {
  display: flex;
  flex-direction: column;
}

/* Home */
.sectionHome {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notes-container {
  width: 90%;
  padding: 20px;
  background-color: #e7e7e756;
  border: 1px solid #444;
  border-radius: 20px;
}

.notes-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.notes-options button {
  margin: 5px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #444;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.notes-options label {
  background-color: transparent;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.notes-options button:hover {
  background-color: #44444433;
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.note-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: calc(50% - 20px); /* Ajustar el tamaño para pantallas medianas */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.note-card:hover {
  background-color: #f0f0f0;
}

.note-card.selected {
  background-color: #e0e0e0;
  border-color: #444;
}

@media screen and (max-width: 490px) {
  .note-card {
    width: calc(100% - 20px);
  }

  .notes-container {
    width: 80%;
  }
}

@media (min-width: 491px) and (max-width: 768px) {
  .note-card {
    width: calc(40% - 20px);
  }
}

/* @media (min-width: 769px) and (max-width: 1200px) {
  .note-card {
    width: calc(50% - 20px);
  }
} */

@media (min-width: 769px) {
  .note-card {
    width: calc(25% - 20px);
  }
}

/* SideBar */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.titule {
  font-size: xx-large;
  margin: 1em 0;
  font-weight: bold;
  color: #f1f1f1;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.openbtn:hover {
  background-color: #444;
}

.sidebarCard {
  padding: 1.5em;
  margin: 1em;
  width: 200px;
  background-color: #444;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebarCard h3 {
  margin: 0 0 10px;
  display: -webkit-box;
  line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; /* Altura máxima del contenedor */
}

hr {
  border: 0;
  border-top: 1px solid #818181;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding-top: 40px;
  }

  .titule {
    font-size: x-large;
    margin: 1em 0;
    font-weight: bold;
  }

  .sidebarCard h3 {
    font-size: small;
  }
}

/* Pagination */

.paginationButton {
  background-color: transparent;
  color: rgb(177, 177, 177);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.paginationButton:hover {
  background-color: #555;
}

.paginationButton2 {
  background-color: transparent;
  color: rgb(177, 177, 177);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  border-radius: 5px;
}

.paginationButton2:hover {
  background-color: #555;
}

/* NavBar */

.navbarContainer {
  background-color: #333;
}
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 2px solid rgb(223, 251, 219);
  background-color: #333;
  transition: background-color 0.3s ease;
}

.navBarLogo {
  margin-left: 1rem;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.navBarLogo h2 {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
}

.navBarLogo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.navBarLogo:hover {
  filter: drop-shadow(0 0 2em #f7f7f7aa);
}

.hamburger-menu-right {
  display: flex;
  justify-content: end;
}

.hamburger-menu {
  padding: 0 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f1f1f1;
}

.hamburger-menu .line {
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  background-color: white; /* Color de las líneas similar al sidebar */
  transition: all 0.3s ease; /* Transición para las líneas */
}

.nav-menu {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: #333; /* Color de fondo similar al sidebar */
  font-weight: 600;
  text-align: center;
  transform: translateY(-200%); /* Oculta el menú al estar cerrado */
  transition: transform 0.3s ease; /* Transición para la animación de deslizamiento */
  z-index: 1000; /* Asegura que el menú esté por encima de otros contenidos */
}

.nav-menu.open {
  transform: translateY(1%); /* Muestra el menú al estar abierto */
}

.nav-menu a {
  display: block;
  padding: 1rem 0;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.nav-menu a:hover {
  background-color: #555;
  color: #f1f1f1;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .navbar {
    justify-content: space-around;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-menu {
    position: static;
    width: auto;
    top: auto;
    background: none;
    display: block;
    transform: translateY(0);
  }

  .nav-menu a {
    display: inline-block;
    padding: 1rem;
  }

  .hamburger-menu {
    display: none;
  }
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.modal label {
  display: block;
  margin: 15px 0 5px;
  color: #333;
  font-weight: bold;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.modal textarea {
  min-height: 100px;
  resize: vertical;
}

.modal button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.modal button:hover {
  background-color: #555;
}

.modal button:active {
  transform: scale(0.98);
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.modal .close-btn:hover {
  color: #555;
}

@media (max-width: 600px) {
  .modal {
    width: 70%;
    max-width: 70%;
  }
}

@media (max-width: 400px) {
  .modal {
    width: 80%;
    max-width: 80%;
  }

  .modal h2 {
    font-size: 1.25rem;
  }

  .modal input,
  .modal textarea {
    font-size: 0.9rem;
  }

  .modal button {
    font-size: 0.9rem;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px 0;
}

.checkbox-container {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-container input {
  accent-color: #333;
  width: 20px;
  height: 20px;
}

.checkbox-container input:checked {
  background-color: #333;
  border-color: #333;
}

.checkbox-container input:focus {
  outline: none;
}
