#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* SideBar */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.titule {
  font-size: xx-large;
  margin: 1em 0;
  font-weight: bold;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.openbtn:hover {
  background-color: #444;
}

.sidebarCard {
  padding: 2em;
  margin: 2em;
  width: 200px;
  background-color: #444;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
}

.sidebarCard h3 {
  margin: 0 0 1em;
}

hr {
  border: 0;
  border-top: 1px solid #818181;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding-top: 40px;
  }

  .titule {
    font-size: x-large;
    margin: 1em 0;
    font-weight: bold;
  }
}

/* Pagination */

.paginationButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.paginationButton:hover {
  background-color: #555;
}

.paginationButton2 {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  border-radius: 5px;
}

.paginationButton2:hover {
  background-color: #555;
}

/* NavBar */

.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 2px solid rgb(223, 251, 219);
  background-color: #333;
  transition: background-color 0.3s ease;
}

.navBarLogo {
  margin-left: 1rem;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.navBarLogo h2 {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
}

.navBarLogo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.navBarLogo:hover {
  filter: drop-shadow(0 0 2em #f7f7f7aa);
}

.hamburger-menu-right {
  display: flex;
  justify-content: end;
}

.hamburger-menu {
  padding: 0 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger-menu .line {
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  background-color: white; /* Color de las líneas similar al sidebar */
  transition: all 0.3s ease; /* Transición para las líneas */
}

.nav-menu {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: #333; /* Color de fondo similar al sidebar */
  font-weight: 600;
  text-align: center;
  transform: translateY(-200%); /* Oculta el menú al estar cerrado */
  transition: transform 0.3s ease; /* Transición para la animación de deslizamiento */
  z-index: 1000; /* Asegura que el menú esté por encima de otros contenidos */
}

.nav-menu.open {
  transform: translateY(1%); /* Muestra el menú al estar abierto */
}

.nav-menu a {
  display: block;
  padding: 1rem 0;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.nav-menu a:hover {
  background-color: #555;
  color: #f1f1f1;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .navbar {
    justify-content: space-around;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-menu {
    position: static;
    width: auto;
    top: auto;
    background: none;
    display: block;
    transform: translateY(0);
  }

  .nav-menu a {
    display: inline-block;
    padding: 1rem;
  }

  .hamburger-menu {
    display: none;
  }
}